html, body {
  margin: 0px 0px;
  padding: 0px 0px;
}

body {
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
}

header {
  position: fixed;
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  z-index: 3;
  flex-wrap: nowrap;
  background-color: black;
  opacity: 0.9;
  }

header img {
  height: 50px;
  opacity: 100%;
  padding-left: 10px;
  }

header nav {
  display: inline-block;
  text-align: right;
  flex-shrink: 2;
  font-size: 22px;
  padding-right: 10px;
}

header a {
  color: seashell;
  text-decoration: underline;
  padding-left: 15px;
  padding-right: 5px;
}

#main {
  padding: 0 40px;
  width: 1280px;
}

#blergagblerg {
  padding-top: 70px;
  background-image: url("./resources/images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#mission-bar {
  background-color: black;
  width: 100%;
}

#whats-brewing {
  width:1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

#tea-mo {
  padding-top: 70px;
  width: 1200px;
  text-align: center;
  position: relative;
}

#teas-mos {
  width:1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.teas-mo {
  text-align: center;
  margin: 10px 15px;
}

.teas-mo img {
  height: 200px;
  width: 300px;
}
