html, body {
  margin: 0px 0px;
  padding: 0px 0px;
    /* text-align: center; */
}

body {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  font-size: 22px;
  z-index: -4
}

header {
  position: fixed;
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  z-index: 7;
  flex-wrap: nowrap;
    }

header img {
  height: 50px;
  opacity: 100%;

  }

header nav {
  display: inline-block;
  text-align: right;
  flex-shrink: 2;
  font-size: 22px;

}

header a {
  color: seashell;
  text-decoration: underline;
  padding-left: 15px;
  padding-right: 5px;
}

.our-mission {
    background-image: url("./resources/images/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 5;
}


#title-bar {
  background-color: black;
  color: seashell;
  width: 100%;
  text-align: center;
}
